.fv {
    overflow-x: hidden;
    overflow-y: visible;
}

// 上半分
.fv__upper {
    width: 100%;
    z-index: 0;
}

// メインビジュアル画像　外枠
.fv__img-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include pc {
        gap: 20px;
    }
}
// メインビジュアル画像
.fv__img-wrapper {
    max-height: 417px;
    @include pc {
        max-height: 600px;
    }

    // 画面幅に応じて画像をずらす。375pxのときは0px、768pxのときは-201px。線形補完
    img.fv__img-item {
        transform: translateY(
            clamp(
            -201px,                           // 最小値
            calc( (-201px)/(768px - 375px)
                    * (100vw - 375px) ),        // 線形補間
            0px                               // 最大値
            )
        );
        @include pc {
            transform: translate(0, 0);
        }
    }
}

// 下半分
.fv__lower {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 50vw;
    
    @include pc {
        padding-bottom: 0;
        flex-direction: row;
    }
}

// テキスト部分
.fv__text-container {
    padding: clamp(20px, 3vw, 45px) clamp(18px, 3vw, 64px);

    h1.fv__text-main {
        font-size: clamp(1.5rem, 5.0vw, 5rem);
        @include pc {
            font-size: clamp(1.5rem, 3.4vw, 5rem);
        }
    }
    p.fv__text-sub {
        font-size: clamp(0.8rem, 1vw, 1.25rem);
        padding-top: 4px;
    }

}

// ボタン部分
.fv__button-container {
    position: absolute;
    width: 100%;
    right: -4%;
    bottom: 0%;

    @include pc{
        width: 42%;
        right: -9%;
        top: -15px;
        img {
            width: 100%;
        }
    }
}

.swiper{
    width: 100%;
}