// セクション全体　背景の指定
.recommend {
    background-image: url("../img/background/bg_sky_full.png");
    background-size: auto;
    background-repeat: no-repeat;
    @include pc {
        background-size: 100%;
    }
}

// 上下余白の設定
.recommend__text-container {
    padding: clamp(59px, 15.7vw, 119px) 0;
}

// テキストのスタイル
.recommend__text {
    line-height: 221%;
    text-align: center;

    font-size: clamp(1.5rem, 6.4vw, 4rem);
    @include pc {
        font-size: clamp(1.5rem, 4.4vw, 4rem);
    }
}

// マーカー
span.marker{
    position: relative;
    z-index: 1;

    // フォントサイズ
    font-size: clamp(1.5rem, 7.5vw, 5rem);
    @include pc {
        font-size: clamp(1.5rem, 5.6vw, 5rem);
    }

    &::before {
        // マーカー　画像指定
        content: "";
        background-image: url("../img/parts/marker.svg");
        background-size: contain;
        
        // マーカー　サイズ
        width: 34vw;
        height: 6vw;
        @include pc {
            width: clamp(180px, 22vw, 380px);
            height: clamp(30px, 4vw, 70px);
        }

        // マーカー　レイアウト
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        z-index: -1;
    }
}