// 理由　外側
.reason__reason-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 28px;
    padding: 72px 0;
    @include wide {
        flex-direction: row;
        align-items: flex-start;
        // gap: 3.6vw;
    }
}

// 理由　各要素（01~03）
.reason__reason-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    max-width: 370px;

    // 理由　タイトル
    h3.caption {
        font-weight: 700;
        letter-spacing: 1.68px;
        font-size: clamp(1.25rem, 5.3vw ,1.5rem);
        @include pc {
            // font-size: clamp(1.25rem, 1.7vw ,1.5rem);
            font-size: 1.2rem;
        }
    }
}