* {
  font-family: "Inria Serif", "Shippori Mincho", serif;
  color: #422B1A;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 3.36px;
}

p.text {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  font-weight: 400;
  line-height: 184%;
  letter-spacing: 0.6px;
}

@media screen and (min-width: 767px) {
  .sp-br {
    display: none;
  }
}

.pc-br {
  display: none;
}
@media screen and (min-width: 767px) {
  .pc-br {
    display: inline;
  }
}

span.green {
  color: #66A256;
}
span.red {
  color: #E25C55;
}
span.bold {
  font-weight: bold;
}

h2.title {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 600;
  line-height: 184%;
  letter-spacing: 2.8px;
  text-align: center;
  position: relative;
  padding: clamp(28px, 6vw, 105px) 0;
  overflow-y: visible;
}

p.title--sub {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  line-height: 174%;
  letter-spacing: 1.28px;
  text-align: center;
  margin-top: -4vw;
}

h2.title::after {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: block;
  width: 100vw;
  height: clamp(280px, 40vw, 450px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 767px) {
  h2.title::after {
    background-size: 70% auto;
  }
}

h2.organic__title::after {
  content: "";
  background-image: url("../img/text/ORGANIC.svg");
}

h2.worry__title::after {
  content: "";
  background-image: url("../img/text/SUGUTABE.svg");
}

h2.about__title::after {
  content: "";
  background-image: url("../img/text/ABOUT.svg");
}

h2.trial__title::after {
  content: "";
  background-image: url("../img/text/TRIAL.svg");
}

h2.reason__title::after {
  content: "";
  background-image: url("../img/text/REASON.svg");
}

h2.voice__title::after {
  content: "";
  background-image: url("../img/text/VOICE.svg");
}

h2.faq__title::after {
  content: "";
  background-image: url("../img/text/FAQ.svg");
  background-size: 70% auto;
}
@media screen and (min-width: 767px) {
  h2.faq__title::after {
    background-size: 50% auto;
  }
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.content {
  padding: 0 5%;
  overflow: hidden;
}
@media screen and (min-width: 767px) {
  .content {
    padding: 0 10%;
  }
}

.section {
  position: relative;
}

.triangle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(6.2vw);
  width: 100%;
}
@media screen and (min-width: 767px) {
  .triangle-container {
    transform: translateY(4.7vw);
  }
}
.triangle-container img.triangle {
  display: inline-block;
  width: 39.5%;
}
@media screen and (min-width: 767px) {
  .triangle-container img.triangle {
    width: 25.8%;
  }
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 90;
  height: clamp(60px, 10vw, 130px);
}

.header__logo-wrapper {
  width: 30%;
  padding-top: 11px;
  padding-bottom: 11px;
}
@media screen and (min-width: 767px) {
  .header__logo-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__logo {
  width: clamp(132px, 117.3%, 269px);
}
.header__logo img {
  display: inline-block;
  width: 100%;
}

.header__nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.header__nav--global {
  display: none;
}
@media screen and (min-width: 767px) {
  .header__nav--global {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__nav--sp {
  display: flex;
  height: 100%;
}
@media screen and (min-width: 767px) {
  .header__nav--sp {
    display: none;
  }
}

.header__nav-item--trial {
  height: 100%;
  background-color: #C79167;
}
.header__nav-item--trial a {
  display: inline-block;
  color: white;
}

.header__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: clamp(1rem, 1.6vw, 1.5rem);
  font-weight: 600;
  height: 100%;
}
.header__nav-item a {
  display: inline-block;
  padding: 0 clamp(8px, 1.1vw, 21px);
}
.header__nav-item img {
  display: inline-block;
  height: 45%;
  padding: 0 16px;
}

.header__nav-item--about::after {
  content: "ABOUT";
}
.header__nav-item--reason::after {
  content: "REASON";
}
.header__nav-item--voice::after {
  content: "VOICE";
}
.header__nav-item--faq::after {
  content: "FAQ";
}
.header__nav-item--trial::after {
  content: "TRIAL";
}
.header__nav-item--hamburger::after {
  content: "MENU";
}
.header__nav-item--about::after, .header__nav-item--reason::after, .header__nav-item--voice::after, .header__nav-item--faq::after, .header__nav-item--trial::after, .header__nav-item--hamburger::after {
  color: #C79167;
  font-size: clamp(0.8rem, 1.5vw, 1.25rem);
  padding-top: 6px;
}
.header__nav-item--trial::after {
  color: white;
}

.drawer {
  background-color: #C79167;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s;
  z-index: 100;
  transform: translateX(-100%);
}
.drawer.open {
  transform: translateX(0%);
}

.drawer__logo-wrapper {
  width: 50%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.drawer__logo {
  width: clamp(171px, 80%, 331px);
}
.drawer__logo img {
  display: inline-block;
  width: 100%;
}

.drawer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.drawer__nav-item {
  margin-top: 70px;
}
.drawer__nav-item::before {
  content: "";
  display: inline-block;
  background-color: #422B1A;
  width: 60px;
  height: 1px;
  transform: translate(-20px, -5px);
}

.fv {
  overflow-x: hidden;
  overflow-y: visible;
}

.fv__upper {
  width: 100%;
  z-index: 0;
}

.fv__img-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .fv__img-container {
    gap: 20px;
  }
}

.fv__img-wrapper {
  max-height: 417px;
}
@media screen and (min-width: 767px) {
  .fv__img-wrapper {
    max-height: 600px;
  }
}
.fv__img-wrapper img.fv__img-item {
  transform: translateY(clamp(-201px, -0.5114503817 * (100vw - 375px), 0px));
}
@media screen and (min-width: 767px) {
  .fv__img-wrapper img.fv__img-item {
    transform: translate(0, 0);
  }
}

.fv__lower {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 50vw;
}
@media screen and (min-width: 767px) {
  .fv__lower {
    padding-bottom: 0;
    flex-direction: row;
  }
}

.fv__text-container {
  padding: clamp(20px, 3vw, 45px) clamp(18px, 3vw, 64px);
}
.fv__text-container h1.fv__text-main {
  font-size: clamp(1.5rem, 5vw, 5rem);
}
@media screen and (min-width: 767px) {
  .fv__text-container h1.fv__text-main {
    font-size: clamp(1.5rem, 3.4vw, 5rem);
  }
}
.fv__text-container p.fv__text-sub {
  font-size: clamp(0.8rem, 1vw, 1.25rem);
  padding-top: 4px;
}

.fv__button-container {
  position: absolute;
  width: 100%;
  right: -4%;
  bottom: 0%;
}
@media screen and (min-width: 767px) {
  .fv__button-container {
    width: 42%;
    right: -9%;
    top: -15px;
  }
  .fv__button-container img {
    width: 100%;
  }
}

.swiper {
  width: 100%;
}

.organic__content {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .organic__content {
    flex-direction: row-reverse;
    gap: 4.23vw;
  }
}

.organic__img-container {
  width: 110%;
  transform: translateX(-5%);
}
@media screen and (min-width: 767px) {
  .organic__img-container {
    transform: translateX(0%);
    width: 50%;
  }
}

.organic__text-container {
  padding: 7.46vw 0;
}
@media screen and (min-width: 767px) {
  .organic__text-container {
    padding: 0;
    width: 50%;
  }
}

.worry__worry-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .worry__worry-container {
    flex-direction: row;
    padding-top: 9.4vw;
    margin-bottom: -9.4vw;
  }
}

.worry__worry-item {
  width: 67.2%;
}
.worry__worry-item img {
  display: inline-block;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .worry__worry-item {
    width: 35.8%;
  }
}

.worry__worry-item--1 {
  transform: translateX(-19.2vw);
}
@media screen and (min-width: 767px) {
  .worry__worry-item--1 {
    transform: translateX(6.9vw);
  }
}

.worry__worry-item--2 {
  transform: translate(19.2vw, -20.3vw);
  margin-bottom: -20.3vw;
}
@media screen and (min-width: 767px) {
  .worry__worry-item--2 {
    transform: translateY(-9.4vw);
    margin-bottom: 0;
  }
}

.worry__worry-item--3 {
  transform: translate(-19.2vw, -20.3vw);
  margin-bottom: -20.3vw;
}
@media screen and (min-width: 767px) {
  .worry__worry-item--3 {
    transform: translateX(-6.9vw);
    margin-bottom: 0;
  }
}

.worry__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-5vw);
}
@media screen and (min-width: 767px) {
  .worry__img-container {
    transform: translateY(-4vw);
  }
}

.worry__img-item {
  width: 67.2%;
}
@media screen and (min-width: 767px) {
  .worry__img-item {
    width: 30.7%;
  }
}

.recommend {
  background-image: url("../img/background/bg_sky_full.png");
  background-size: auto;
  background-repeat: no-repeat;
}
@media screen and (min-width: 767px) {
  .recommend {
    background-size: 100%;
  }
}

.recommend__text-container {
  padding: clamp(59px, 15.7vw, 119px) 0;
}

.recommend__text {
  line-height: 221%;
  text-align: center;
  font-size: clamp(1.5rem, 6.4vw, 4rem);
}
@media screen and (min-width: 767px) {
  .recommend__text {
    font-size: clamp(1.5rem, 4.4vw, 4rem);
  }
}

span.marker {
  position: relative;
  z-index: 1;
  font-size: clamp(1.5rem, 7.5vw, 5rem);
}
@media screen and (min-width: 767px) {
  span.marker {
    font-size: clamp(1.5rem, 5.6vw, 5rem);
  }
}
span.marker::before {
  content: "";
  background-image: url("../img/parts/marker.svg");
  background-size: contain;
  width: 34vw;
  height: 6vw;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: -1;
}
@media screen and (min-width: 767px) {
  span.marker::before {
    width: clamp(180px, 22vw, 380px);
    height: clamp(30px, 4vw, 70px);
  }
}

.about__graphic-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .about__graphic-container {
    flex-direction: row;
    gap: 6.4vw;
  }
}

.about__graphic-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -94px;
}
.about__graphic-item .circle {
  display: inline-block;
  width: 44vw;
  min-width: 165px;
  transform: translateY(42px);
  margin-top: -42px;
}
@media screen and (min-width: 767px) {
  .about__graphic-item .circle {
    width: 14.4vw;
    transform: translateY(72px);
    margin-top: -72px;
  }
}
.about__graphic-item--3 {
  margin-bottom: 0;
}
@media screen and (min-width: 767px) {
  .about__graphic-item {
    margin-bottom: 0;
  }
}

.about__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 39px;
  padding-bottom: 51px;
  gap: 39px;
}
@media screen and (min-width: 767px) {
  .about__lower {
    flex-direction: row;
    padding-top: 84px;
    padding-bottom: 103px;
    gap: 56px;
  }
}

@media screen and (min-width: 767px) {
  .about__text-container {
    width: 50%;
  }
}

@media screen and (min-width: 767px) {
  .about__button-container {
    width: 50%;
  }
}

.trial {
  background-color: #F9EFE3;
  background-image: url("../img/background/wood_texture25.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.trial__title-container {
  padding-top: 2vw;
}

.trial__img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 42px;
}
@media screen and (min-width: 767px) {
  .trial__img-container {
    flex-direction: row;
  }
}

.trial__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 42px;
  padding-bottom: 42px;
}
.trial__button-container img {
  display: inline-block;
  width: clamp(350px, 90%, 600px);
}

.trial__scroll {
  background-color: white;
}
.trial__scroll p {
  z-index: 10;
  transform: translateY(5px);
}

.trial__triangle-container {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(-133px);
  width: 100%;
}
@media screen and (min-width: 767px) {
  .trial__triangle-container {
    transform: translateY(-108px);
  }
}
.trial__triangle-container img.triangle {
  display: inline-block;
  width: 293px;
}
@media screen and (min-width: 767px) {
  .trial__triangle-container img.triangle {
    width: 400px;
  }
}

.reason__reason-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 28px;
  padding: 72px 0;
}
@media screen and (min-width: 767px) {
  .reason__reason-container {
    flex-direction: row;
    gap: 3.6vw;
  }
}

.reason__reason-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 27px;
}
.reason__reason-item h3.caption {
  font-weight: 700;
  letter-spacing: 1.68px;
  font-size: clamp(1.25rem, 5.3vw, 1.5rem);
}
@media screen and (min-width: 767px) {
  .reason__reason-item h3.caption {
    font-size: clamp(1.25rem, 1.7vw, 1.5rem);
  }
}

.voice__voice-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 46px;
  padding-top: 95px;
  padding-bottom: 40px;
}
@media screen and (min-width: 767px) {
  .voice__voice-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 2.36vw;
  }
}

.voice__voice-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #F9EFE3;
  background-image: url("../img/background/wood_texture25.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 24px;
  gap: 20px;
  width: 347px;
  border-bottom: solid 6px #C79167;
  position: relative;
}
.voice__voice-item--1::before {
  content: "";
  background-image: url("../img/parts/voice_tag01.svg");
}
.voice__voice-item--2::before {
  content: "";
  background-image: url("../img/parts/voice_tag02.svg");
}
.voice__voice-item--3::before {
  content: "";
  background-image: url("../img/parts/voice_tag03.svg");
}
.voice__voice-item::before {
  display: block;
  width: 49px;
  height: 67px;
  position: absolute;
  top: -15px;
  left: 14px;
}
.voice__voice-item h3.comment {
  display: block;
  text-align: center;
  background-color: white;
  color: #E25C55;
  width: 100%;
  padding: 32px 0;
  font-size: clapm(1rem, 1.38vw, 1.25rem);
}
.voice__voice-item .profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.voice__voice-item .profile img.face {
  width: 50%;
}
.voice__voice-item p.text {
  font-size: 1rem;
}

.faq__title-container {
  padding-top: 2vw;
}

.faq__faq-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px #422B1A;
  margin-top: 42px;
  margin-bottom: 80px;
}

.faq__faq-item {
  border-bottom: solid 1px #422B1A;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 42px;
  padding: 42px 0;
}
.faq__faq-item h3.question,
.faq__faq-item h4.answear {
  vertical-align: middle;
  font-size: clamp(1.25rem, 1.67vw, 1.5rem);
}
@media screen and (min-width: 767px) {
  .faq__faq-item h3.question,
  .faq__faq-item h4.answear {
    font-size: clamp(1.25rem, 5.33vw, 1.5rem);
  }
}
.faq__faq-item h3.question::before {
  content: "";
  background-image: url("../img/parts/question.svg");
}
.faq__faq-item h4.answear::before {
  content: "";
  background-image: url("../img/parts/answear.svg");
}
.faq__faq-item h3.question,
.faq__faq-item h4.answear {
  position: relative;
  padding-left: 60px;
}
.faq__faq-item h3.question::before,
.faq__faq-item h4.answear::before {
  background-size: cover;
  display: inline-block;
  width: 45px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
}
.faq__faq-item p.text {
  padding-left: 60px;
}

.footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 90;
  height: clamp(60px, 10vw, 130px);
}

.footer__logo-wrapper {
  width: 30%;
  padding-top: 11px;
  padding-bottom: 11px;
}
@media screen and (min-width: 767px) {
  .footer__logo-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.footer__logo {
  width: clamp(132px, 117.3%, 269px);
}
.footer__logo img {
  display: inline-block;
  width: 100%;
}/*# sourceMappingURL=style.css.map */