* {
  font-family: "Inria Serif", "Shippori Mincho", serif;
  color: #422B1A;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 3.36px;
}

@media screen and (min-width: 767px) {
  .sp-br {
    display: none;
  }
}

.pc-br {
  display: none;
}
@media screen and (min-width: 767px) {
  .pc-br {
    display: inline;
  }
}

.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 90;
  height: clamp(60px, 10vw, 130px);
}

.header__logo-wrapper {
  width: 30%;
  padding-top: 11px;
  padding-bottom: 11px;
}
@media screen and (min-width: 767px) {
  .header__logo-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__logo {
  width: clamp(132px, 117.3%, 269px);
}
.header__logo img {
  display: inline-block;
  width: 100%;
}

.header__nav-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.header__nav--global {
  display: none;
}
@media screen and (min-width: 767px) {
  .header__nav--global {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__nav--sp {
  display: flex;
  height: 100%;
}
@media screen and (min-width: 767px) {
  .header__nav--sp {
    display: none;
  }
}

.header__nav-item--trial {
  height: 100%;
  background-color: #C79167;
}
.header__nav-item--trial a {
  display: inline-block;
  color: white;
}

.header__nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: clamp(1rem, 1.6vw, 1.5rem);
  font-weight: 600;
  height: 100%;
}
.header__nav-item a {
  display: inline-block;
  padding: 0 clamp(8px, 1.1vw, 21px);
}
.header__nav-item img {
  display: inline-block;
  height: 45%;
  padding: 0 16px;
}

.header__nav-item--about::after {
  content: "ABOUT";
}
.header__nav-item--reason::after {
  content: "REASON";
}
.header__nav-item--voice::after {
  content: "VOICE";
}
.header__nav-item--faq::after {
  content: "FAQ";
}
.header__nav-item--trial::after {
  content: "TRIAL";
}
.header__nav-item--hamburger::after {
  content: "MENU";
}
.header__nav-item--about::after, .header__nav-item--reason::after, .header__nav-item--voice::after, .header__nav-item--faq::after, .header__nav-item--trial::after, .header__nav-item--hamburger::after {
  color: #C79167;
  font-size: clamp(0.8rem, 1.5vw, 1.25rem);
  padding-top: 6px;
}
.header__nav-item--trial::after {
  color: white;
}

.drawer {
  background-color: #C79167;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s;
  z-index: 100;
  transform: translateX(-100%);
}
.drawer.open {
  transform: translateX(0%);
}

.drawer__logo-wrapper {
  width: 50%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.drawer__logo {
  width: clamp(171px, 80%, 331px);
}
.drawer__logo img {
  display: inline-block;
  width: 100%;
}

.drawer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.drawer__nav-item {
  margin-top: 70px;
}
.drawer__nav-item::before {
  content: "";
  display: inline-block;
  background-color: #422B1A;
  width: 60px;
  height: 1px;
  transform: translate(-20px, -5px);
}

.fv {
  overflow-x: hidden;
  overflow-y: visible;
}

.fv__upper {
  width: 100%;
  z-index: 0;
}

.fv__img-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .fv__img-container {
    gap: 20px;
  }
}

.fv__img-wrapper {
  max-height: 417px;
}
@media screen and (min-width: 767px) {
  .fv__img-wrapper {
    max-height: 600px;
  }
}

.fv__lower {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 1;
  padding-bottom: 50vw;
}
@media screen and (min-width: 767px) {
  .fv__lower {
    padding-bottom: 0;
    flex-direction: row;
  }
}

.fv__text-container {
  padding: clamp(20px, 3vw, 45px) clamp(18px, 3vw, 64px);
}
.fv__text-container h1.fv__text-main {
  font-size: clamp(1.5rem, 3vw, 5rem);
}
.fv__text-container p.fv__text-sub {
  font-size: clamp(0.8rem, 1vw, 1.25rem);
  padding-top: 4px;
}

.fv__button-container {
  position: absolute;
  width: 100%;
  right: -4%;
  bottom: 0%;
}
@media screen and (min-width: 767px) {
  .fv__button-container {
    width: 42%;
    right: -9%;
    top: -15px;
  }
  .fv__button-container img {
    width: 100%;
  }
}

.fv__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.swiper {
  width: 100%;
}/*# sourceMappingURL=style.css.map */